doctype html
html(lang="en")
  head
    meta(charser="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles/styles.css")
  body
    div(class="w-[300px] h-[320px] flex flex-col shadow-[0px_4px_14px_0px_#61606029] absolute left-[50%] -translate-x-1/2 top-[50%] -translate-y-1/2")
      form(action="/login" method="POST" class="w-[300px] h-[270px]")
        p(class="w-full text-center my-[10px]") Task Management Login
        input(type="email" placeholder="email" name="email" class="rounded-[10px] w-[90%] px-[10px] h-[40px] border-[1px] mx-[5%] outline-none mt-[20px]")
        input(type="password" placeholder="password" name="password" class="rounded-[10px] px-[10px] w-[90%] h-[40px] border-[1px] mx-[5%] outline-none mt-[20px]")
        button(type="submit" class="bg-blue-500 text-[#fff] rounded-[10px] w-[90%] mx-[5%] mt-[50px]") Login
      a(href="/" class="underline text-[blue] self-center") Sign Up