doctype html
html(lang="en")
  head
    meta(charser="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles/styles.css")
  body
    div(class="relative select-none h-full w-[20%] shadow-[0px_4px_14px_0px_#61606029] flex flex-col items-center justify-center")
        span(class="user absolute left-0 top-0 h-[20px]")
        p(data-status="task" class="z-[10] text-left w-[120px] h-[30px] rounded-[10px] px-[10px] flex items-center") 
          a(href="/task") Tasks
        p(data-status="completed" class="z-[10] text-left w-[120px] h-[30px] rounded-[10px] px-[10px] flex items-center") 
          a(href="/task?state=completed") Completed
        p(data-status="inprogress" class="text-left w-[120px] h-[30px] rounded-[10px] px-[10px] flex items-center")
          a(href="/task?state=in progress") In Progress
        p(data-status="todo" class="text-left w-[120px] h-[30px] rounded-[10px] px-[10px] flex items-center")
          a(href="/task?state=to do") To Do
        p(class="text-left w-[120px] h-[30px] rounded-[10px] px-[10px] flex items-center") Reports
    script.
      (function() {
        // Add user email if user is logged in
        const cookie = document.cookie.split("=")[1];
        document.querySelector(".user").innerText = `logged in: ${ cookie ? decodeURIComponent(cookie) : ""}`;
        
        //Styles
        const params = new URLSearchParams(new URL(window.location.href).search);
        const state = decodeURIComponent(params.get("state")).replace(" ", "");
        if (state!=="null") {
          document.querySelector(`p[data-status=${state}]`).classList.add("bg-blue-500","text-[#fff]");
        }  else {
          document.querySelector(`p[data-status=task]`).classList.add("bg-blue-500","text-[#fff]");
        }
      })();
      
